<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!----======== CSS ======== -->
  <%- include("./partials/head") -%>
    <link rel="stylesheet" href="/css/cursos.css">
</head>

<body>
  <%- include("./partials/header") -%>
    <section id="main">
      <ul class="cards">
        <% for( let i=0; i < cursos.length; i++ ) { %>
          <li>
            <a href="" class="cartas">
              <img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                    <path />
                  </svg>
                  <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />
                  <div class="card__header-text">
                    <h3 class="card__title">
                      <%=cursos[i].name %>
                    </h3>
                    <span class="card__status">Fecha de inicio: </span>
                  </div>
                </div>
                <p class="card__description">
                  <%=cursos[i].short_info %>
                </p>
              </div>
            </a>
          </li>
          <% } %>
      </ul>
    </section>
    <%- include("./partials/footer") -%>
      <div class="scripts">
        <%- include("./partials/scripts") -%>
      </div>
</body>

</html>